body {
  margin: 0;
  font-family: sans-serif;
  color: var(--button-color,orange);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (--a:0){
  body{
    font-family: var(--poppins);
  }
}

:root{
  --background-color:var(--color);
  --font-color:rgba(0, 0, 0, 0.705);
  --button-color: rgb(252, 113, 71);
  --poppins: 'Poppins';
}
