body {
  margin: 0;
  padding: 0px 5px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(252, 164, 137), rgba(245, 240, 239, 0.185));
}

@supports (--a:0){
  body{
    font-family: var(--poppins);
  }
}

:root{
  --background-color:var(--color);
  --font-color:rgba(0, 0, 0, 0.705);
  --button-color: rgb(252, 113, 71);
  --poppins: 'Poppins';
}
