.signup-container{
    width: 90vw;
    flex-wrap: wrap;
    gap: 10vw;
    display: flex;
    padding: 5vw 4vw;
}

.signup-content{
    width: 40%;
}

.signup-form{
    width: 40%;
}


@media screen and (max-width:600px) {
    .signup-content{
        width: 100%;
    }
    
    .signup-form{
        width: 100%;
    }
}